         .codeChallenge {
             display: inline;
             border: 1px solid blue;
             width: 900px;
             margin: auto;
         }
         
         img {
             /* display: inline-block; */
             /* height: 150px;
         width: 150px;
         margin: 50px 20px;
         float: left; */
             float: left;
             padding: 0 0 10px 10px;
         }
         
         p {
             /* display: inline-block; */
             /* height: 150px;
             font-weight: 600px;
             float: right; */
         }